@charset "utf-8";
.kiji h1 {
	font-size: 40px;
}
.kiji p {
	font-size: 16px;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-color: #D7FFE3;
}

.gaiyou a {
	color: #000000;
	text-decoration: none;
	outline: none;
	display: block;
}
.col-md-8 {
	background-color: #88FF93;
}
.col-md-4.sub-menu {
	background-color: #C6FF82;
}



.gaiyou a:hover {
	background-color: #EDEDED;
}
.gaiyou a:focus {
	background-color: #EDEDED;
}
.gaiyou a h2 {
	font-size: 20px;
	font-weight: bold;
}
.gaiyou.iconcard a span {
	font-size: 50px;
	padding-top: 40px;
	padding-bottom: 10px;
	color: #FFFFFF;
}
.gaiyou.iconcard a {
	background-color: #FDD757;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: center;
	height: 250px;
}
.gaiyou.iconcard a:hover {
	opacity: 0.8;
}
.gaiyou.iconcard.database a {
	background-color: #CDDE6C;
}
.gaiyou.iconcard.consult a {
	background-color: #F6BBC0;
}
.gaiyou.iconcard.contact a {
	background-color: #9CD5DE;
}
.navbar-header .navbar-brand {
	font-family: "open-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.nav.nav-news li a {
	border-bottom: 1px dotted #AAAAAA;
}
.nav.nav-news li a {
	padding-left: 0px;
	padding-right: 0px;
	color: #000000;
}
.col-sm-12 .pageBody ul {
}
.slider {
	list-style: none;
    position: relative;
}
.slider li {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
	animation: slide 14s infinite;/* (a+b)×c=x */
    opacity: 0;
}
.col-md-4.profile {
	background-color: #C6FF82;
}
.col-md-4.skill.col-lg-12 {
	background-color: #96FFDC;
}
.inquiry.col-lg-7 {
	background-color: #EFFF7E;
}












@media (min-width: 1200px){
.container-fluid {
	width: 1200px;
}

}
.sub-midashi {
	padding-bottom: 6px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 2px solid #DDDDDD;
}
.container-fluid {
	margin-bottom: 20px;
}


.row.showcase > .col-sm-6:nth-child(odd) {
	clear: both;
}
.header-image {
	height: 440px;
	background-size: cover;
}
.catch {
	color: #FFFFFF;
	position: absolute;
	bottom: 100px;
	left: 60px;
	background-color: rgba(0,0,0,0.42);
	width: 370px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 23px;
	padding-right: 23px;
}
.footer-info {
	background-color: #EDEDED;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer-copyright {
	background-color: #555555;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFFFFF;
	font-size: 10px;
}
.row.main-contents {
	margin-bottom: 20px;
}
.row.showcase > .col-sm-6 {
	margin-bottom: 20px;
}
.row.showcase .img-responsive {
	margin-bottom: 10px;
}




@media (max-width: 767px){
.navbar.navbar-default.navbar-static-top {
	margin-bottom: 0px;
}
.row.header-contents > .col-sm-12 {
	padding-left: 0px;
	padding-right: 0px;

}
.row.main-contents >  .col-sm-3.col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
}
.row.showcase .img-responsive {
	width: 122px;
	float: left;
}
.row.showcase p {
	margin-left: 132px;
}
.row.showcase .gaiyou {
	clear: both;
}

}

ul{
    
}
li{
    
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
li{
    
}
@keyframes slide{
    0%{opacity: 0;}
    3.5%{opacity: 1;z-index: 1;}/* b÷x×100=y */
    25%{opacity: 1;}/* 100÷c=z */
    28.5%{opacity: 0;z-index: 0;}/* y+z */
}
ul:hover li{
    animation-play-state:paused;/* マウスを載せると一時停止 */
}
li:first-child{
    position:relative;
}
